body {
    background-color: grey;
}

h1 {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

main {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}